.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 5px;
}

.order p {
  border-bottom: 3px solid orange;
}
.order button {
  font-size: 25px;
  width: 170px;
  height: 50px;
  margin: 10px;
  top: 25px;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  font-weight: bolder;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin-top: 3px;
  margin-bottom: 18px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(248, 142, 2, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: rgb(212, 103, 0);
  color: white;
}
.order button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: rgb(196, 152, 58);
  color: white;
  width: 220px;
  font-size: 25px;
  cursor: pointer;
}

.empty {
  font-size: 30;
  text-align: center;
}

.orderForm {
  margin-top: 20px;
  background-color: orange;
  width: 600px;
  margin: 0 auto;
  animation: slide 1s ease forwards;
  border-radius: 15px;
}

.orderForm .form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: pop 1.5s ease-in forwards;
}
.orderForm .form input {
  margin-top: 30px;
  font-size: 20px;
  width: 70%;
  height: 30px;
  border: none;
  border-bottom: 5px solid rgb(255, 102, 0);
}
.orderForm .form input[type="text"],
textarea,
select {
  outline: none;
}
.orderForm .form button {
  font-size: 25px;
  width: 170px;
  height: 50px;
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-family: sans-serif;
  text-decoration: none;
  color: orange;
  font-weight: bolder;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all 0.35s;
  margin-top: 1px;
  margin-bottom: 5px;
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(248, 142, 2, 0.5),
    0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: rgb(212, 103, 0);
  color: white;
}
.orderForm .form button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
  background-color: rgb(255, 123, 0);
  color: white;
  width: 220px;
  font-size: 25px;
  cursor: pointer;
}
.accepted {
  animation: one 4s ease-in forwards;
}
.empty {
  margin-top: 20px;
  animation-name: bor;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  padding: 25px;
}

@keyframes bor {
  0% {
    font-size: 22px;
  }
  25% {
    font-size: 24px;
  }
  50% {
    font-size: 26px;
  }
  75% {
    font-size: 24px;
  }
  100% {
    font-size: 22px;
  }
}
@keyframes slide {
  from {
    height: 0;
  }
  to {
    height: 315px;
  }
}
@keyframes one {
  0% {
    opacity: 0.25;
  }
  25% {
    opacity: 0.5;
  }
  40% {
    opacity: 0.85;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 700px) {
  .orderForm {
    width: 90%;
  }
}
