.CartItem{
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: row;
    width:600px;
    height:100px;
    margin: 0 auto;
    border: 1px solid orangered;
    margin-top: 20px;
    padding: 5px;
    background-color: white;
}

.CartItem img{
    height: 90px;
    width: 90px;
}

.CartItem p{
    margin-left: 20px;
}

.count {
    display: flex;
    flex-direction: row;
}
.count button{
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 3px;
}
.count p{
    margin-right: 3px;
    margin-left: 3px;
}