@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
body {
  font-family: "Noto Sans TC", sans-serif;
  background-color: #ece7e7;
}
.navbar {
  overflow: hidden;
  background-color: rgb(248, 177, 11);
}

.navbar a {
  float: left;
  font-size: 25px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  z-index: 300;
}

.navbar a:hover {
  background-color: rgb(218, 167, 0);
}

.rightNav {
  float: right;
}

.redDot {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 0px;
  font-size: 17px;
}

.cart {
  position: relative;
}
.redDotWish {
  width: 25px;
  height: 25px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  top: 15px;
  right: 173px;
  font-size: 17px;
}
