.form {
  width: 400px;
  height:500px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid black;
}

.form input {
    font-size: 25px;
    
}

.form .button{
    font-size: 30px;
}
